node_modules
.git
.env
.npm
npm-debug.log
README.md
Dockerfile
.dockerignore
.gitignore
dist
*.log
!frontend/
!src/
!server/
!backend/
!public/
!index.html
!vite.config.js
!package*.json
!prisma/
!docker/